<launch>
    <include file="/opt/ros/indigo/share/freenect_launch/launch/freenect.launch">
    <arg name="rgb_frame_id" value="camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="camera_depth_optical_frame" />
    </include>

    <node name="kinect_viewer" pkg="baxter_learning_from_egocentric_video" type="kinect_viewer">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="kinectTransformer" args="0.100 -0.072 0.355 -0.790 0.111 0.150 0.584 /world /camera_link 10" />

    <include file="/home/leejang/ros_ws/src/find-object/launch/find_object_3d.launch">
    </include>

</launch>
